* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  background-color: #e63946;
}
 
h1 {
  user-select: none;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
  padding: .75rem .75rem;
  background-color: #e63946;
  letter-spacing: 3px;
  color: rgba(255,255,255,.3);
  box-shadow: 0 0 10px rgba(230, 57, 70, .5);
  flex: 0 0 auto;
}

h1 span {
  display: inline-block;
  transform: translate(15px, 15px) scale(3);
  transition: all .3s;
}

section {
  padding: 1rem .75rem;
  flex: 1 1 auto;
}

.field-group {
  border: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.field-group:last-child {
  margin-bottom: 0;
}

label {
  flex: 0 0 70px;
  color: white;
  user-select: none;
  letter-spacing: 1px;
}

input {
  flex: 1 1 auto;
  width: auto;
  color: #e63946;
  border: none;
  border-bottom: solid #ddd 1px;
  padding: 3px;
  outline: none;
  transition: border .3s;
}

input:focus {
  border-color: #e63946;
  font-weight: bold;
}