* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #e63946;
}
 
h1 {
  user-select: none;
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
  padding: .75rem .75rem;
  letter-spacing: -1px;
  color: white;
}

h1::after {
  content: 'ğ‘¯ğ‘«ğ‘³ ğ™µğš’ğš•ğš•ğšğš›';
}

section {
  padding: 0rem .75rem 1rem;
  flex: 1 1 auto;
}

.field-group {
  border: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.field-group:last-child {
  margin-bottom: 0;
}

label {
  flex: 0 0 70px;
  color: white;
  user-select: none;
  font-weight: 900;
}

input {
  flex: 1 1 auto;
  width: auto;
  color: white;
  border: none;
  border-bottom: solid rgba(255, 255, 255, .5) 1px;
  background-color: transparent;
  padding: 3px 5px;
  outline: none;
}

input:focus {
  border-bottom-color: rgba(255, 255, 255, 1);
}

input::placeholder {
  color: rgba(255, 255, 255, .5);
  opacity: 1;
}